<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homePageStyle.css">
    <title>Özel Sayılar Dünyası</title>
</head>

<body>
    <!-- <div class="intro-text">
    <h1>Özel Sayılar Dünyası</h1>
    <p>Bilindiği üzere Matematik dilinde bazı özel sayı tipleri vardır.Bu sayı tiplerinden bazıları kabul görmüş ,
        bazıları ise sadece birileri tarafından tanımlanmakla kalmıştır.Ben de çeşitli özel sayı çeşitlerini sizler için
        bu web sayfasında derlemek istedim. </p>
    </div> -->
    <div class="container">
        <div class="card-content">
            <div class="card" id="k">
                <div class="card-info">
                    <h2>Asal Sayı</h2>
                    <p>Asal sayılar yalnızca kendisine ve 1'e bölünebilen doğal sayılardır.</p>
                    <a href="/AsalSayi"> <button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="k">
                <div class="card-info">
                    <h2>Palindrom Sayı</h2>
                    <P>Palindrom sayılar tersten okunduğunda da aynı olan sayılara denir.</P>
                    <a href="/PalindromSayi"><button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="k">
                <div class="card-info">
                    <h2>Mükemmel Sayı</h2>
                    <P>Pozitif bölenleri toplamı kendisinin iki katına eşit olan sayılara mükemmel sayı denir</P>
                    <a href="/MukemmelSayi"> <button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="2k">
                <div class="card-info">
                    <h2>Kaprekar Sayı</h2>
                    <P>Kaprekar sayıları , 1949 yılında Hint matematikçi Kaprekar tarafından tariflenen sayılardır. n
                        basamaklı bir t Kaprekar sayısının karesi alınıp sağdaki n basamağı solda kalan n-1 basamağa
                        eklendiğinde sonuç yine t sayısını verir.</P>
                    <a href="/KaprekarSayi"> <button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="2k">
                <div class="card-info">
                    <h2>Lasa Sayıları</h2>
                    <P>Bir asal sayının tersten yazılımı da asal sayı bu sayılara lasa sayı denir.En büyük lasa sayı
                        Ekim
                        2007'de bulunmuştur.</P>
                    <a href="/LasaSayilari"> <button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="2k">
                <div class="card-info">
                    <h2>Mersenne Sayıları</h2>
                    <p>Mersenne sayıları, ikinin kuvvetlerinin bir eksiği şeklinde olan sayılardır ve n doğal sayısı
                        için
                        2<sup>n</sup> − 1 şeklinde hesaplanır.Eğer bu sayı asalsa Mersenne asal sayısı olmuş olur.</p>
                    <a href="/MersenneSayilari"><button> Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="3k">
                <div class="card-info">
                    <h2>Armstrong Sayıları</h2>
                    <p>Her basamağın , sayının basamak sayısı kadar kuvvetinin alınıp toplanmaları ile elde edilen sonuç
                        armstrong sayılarını verir. A<sup>3</sup>+B<sup>3</sup>+C<sup>3</sup> = ABC veya
                        A<sup>4</sup>+B<sup>4</sup>+C<sup>4</sup>+D<sup>4</sup> = ABCD şeklinde yazılabilen sayılara
                        <b style="color :#0093E9; font-weight:300;">armstrong</b> sayısı denir. </p>
                    <a href="/ArmstrongSayi"> <button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="3k">
                <div class="card-info">
                    <h2>Harshad Sayıları</h2>
                    <p>Eğer bir sayı rakamları toplamına bölünebiliyorsa bu sayıya Harshad sayısı denmektedir.</p>
                    <a href="/HarshadSayi"><button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="3k">
                <div class="card-info">
                    <h2>Tau Sayıları</h2>
                    <p>Eğer bir sayı rakamları pozitif tam bölenlerinin sayısına tam bölünüyorsa bu sayıya Tau sayısı
                        denmektedir.</p>
                    <a href="/TauSayisi"> <button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="4k">
                <div class="card-info">
                    <h2>Smith Sayısı</h2>
                    <p>1 den büyük asal olmayan bir tamsayının rakamlarının toplamı, sayı asal çarpanlarına ayrılarak
                        yazıldığında bu yazılışta bulunan tüm asal sayıların rakamlarının toplamına eşit oluyorsa bu tür
                        sayılara Smith sayısı denir.</p>
                    <a href="/SmithSayilari"><button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="4k">
                <div class="card-info">
                    <h2>Zengin Sayısı Kontrolü</h2>
                    <p>Kendisi hariç pozitif tam sayı bölenlerinin toplamı kendisinden büyük olan sayılara zengin sayı
                        denir.</p>
                    <a href="/ZenginSayi"><button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="4k">
                <div class="card-info">
                    <h2>Üçgensel Sayılar</h2>
                    <p>Bir üçgensel sayı, 1'den n'e kadar olan n doğal sayının toplamıdır.</p>
                    <a href="/UcgenselSayi"> <button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="5k">
                <div class="card-info">
                    <h2>Dudeney Sayısı </h2>
                    <p>Rakamları toplamının kübü kendisini veren sayılar dudeney sayılarıdır.</p>
                    <a href="/DudeneySayisi"> <button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="5k">
                <div class="card-info">
                    <h2>Adam Sayısı </h2>
                    <p>Eğer bir sayının karesinin tersi , o sayının tersinin karesine eşitse o sayı Adam sayısıdır. </p>
                    <a href="/AdamSayisi"> <button>Hemen Kontrol Et</button></a>

                </div>
            </div>
            <div class="card" id="5k">
                <div class="card-info">
                    <h2>Seri Sayı</h2>
                    <p>Eğer bir sayı 5 tane ardışık sayının toplamına eşitse bu sayıya seri sayı denir. </p>
                    <a href="/SeriSayi"> <button>Hemen Kontrol Et</button></a>

                </div>
            </div>
        </div>
        <div class="pagination">
            <!-- <li class="page-item previous-page "> <a href="#" class="page-link"> &#60 </a></li> -->
            <li class="page-item current-page active"> <a href class="page-link" id="1">1</a></li>
            <li class="page-item current-page"> <a href="#" class="page-link" id="2">2</a></li>
            <li class="page-item current-page"> <a href="#" class="page-link" id="3">3</a></li>
            <li class="page-item current-page"> <a href="#" class="page-link" id="4">4</a></li>
            <li class="page-item current-page"> <a href="#" class="page-link" id="5">5</a></li>
            <!-- <li class ="page-item current-page"> <a href="#" class="page-link">6</a></li>
         <li class ="page-item current-page"> <a href="#" class="page-link">1</a></li> -->

            <!-- <li class="page-item next-page"> <a href="#" class="page-link"> &#62 </a></li> -->
        </div>
    </div>
    </div>
    <footer>Bu proje <a href="https://mertcalkan.github.io" target="_blank" rel="noopener"
            style=" font-weight:800; color:inherit; text-decoration: none;"> Mert Calkan </a>tarafından yapılmıştır.
    </footer>

    <!-- <a class="navbar-brand" href="/AsalSayi">Asal Sayi</a>

        <a class="navbar-brand" href="/PalindromSayi">Palindrom Sayı</a>
        <a class="navbar-brand" href="/MukemmelSayi">Mükemmel Sayı</a>
        <a class="navbar-brand" href="/KaprekarSayi">Kaprekar Sayı</a>
        <a class="navbar-brand" href="/LasaSayilari">Lasa Sayıları</a>
        <a class="navbar-brand" href="/MersenneSayilari">Mersenne Sayıları</a>
        <a class="navbar-brand" href="/ArmstrongSayi">Armstrong Sayıları</a>
        <a class="navbar-brand" href="/HarshadSayi">Harshad Sayıları</a>
        <a class="navbar-brand" href="/TauSayisi">Tau Sayıları</a>
        <a class="navbar-brand" href="/SmithSayilari">Smith Sayıları</a>
        <a class="navbar-brand" href="/ZenginSayi">Zengin Sayılar</a>
        <a class="navbar-brand" href="/UcgenselSayi">Üçgensel Sayılar</a>
        <a class="navbar-brand" href="/DudeneySayisi">Dudeney Sayısı</a> -->
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
       $('.card-content').children().slice(3).hide();
        $('#1').parent(".current-page").click(function () {
            $('.card-content').children().slice(0,3).show();
            $('.card-content').children().slice(3,$('.card').length).hide();
            $('.current-page.active').removeClass("active");
            $('#1').parent(".current-page").addClass("active");

            //  $('.card-content').children().slice(6).hide(); 
            //  $('#1k').show;   




        });
        // $('#2').click(function () {
        //     console.log("ikinciye tiklandı");
        //     //  $('.card-content').children().slice().hide();
        //     // $('#1k').hide; 
        //     //  $('#2k').show;
        //     $('.card-content').children().slice(0, 3).hide();
        //     $('.card-content').children().slice(3, 6).show();
        //     $('.current-page.active').removeClass("active");

        //     $('.card-content').children().slice(6, $('.card').length).hide();
        //     $(this).parent(".current-page").addClass("active");






        // });
        
        $('#2').parent(".current-page").click(function () {
            $('.card-content').children().slice(0, 3).hide();
            
             $('.card-content').children().slice(3, 6).show();
             $('.current-page.active').removeClass("active");

            $('.card-content').children().slice(6, $('.card').length).hide();
             $("#2").parent(".current-page").addClass("active");

        });

        
        $('#3').parent(".current-page").click(function () {
            
            $('.card-content').children().slice(0, 6).hide();
            $('.card-content').children().slice(6, 9).show();

            $('.card-content').children().slice(9, $('.card').length).hide();
            $('.current-page.active').removeClass("active");
            $("#3").parent(".current-page").addClass("active");





        });
        $('#4').parent(".current-page").click(function () {
            
            $('.card-content').children().slice(0, 9).hide();
            $('.card-content').children().slice(9, 12).show();

            $('.card-content').children().slice(12, $('.card').length).hide();
            $('.current-page.active').removeClass("active");
            $("#4").parent(".current-page").addClass("active");





        });
        $('#5').parent(".current-page").click(function () {
            console.log("dorduncuye tiklandı");
            $('.card-content').children().slice(0, 12).hide();
            $('.card-content').children().slice(12, $('.card').length).show();
            $('.current-page.active').removeClass("active");
            $("#5").parent(".current-page").addClass("active");







        });
    </script>
    <script type="text/javascript">
       
    </script>
    <script>

    </script>
</body>

</html>