<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Kaprekar Sayı Kontrolü | Özel Sayılar Dünyası</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <a href="/">
    <div class="back-main-page">
      <p>Ana Sayfaya Dön</p>
    </div>
    </a>
  <div class="wrapper">
    <header>
      <h1>Kaprekar Sayı Kontrolü</h1>
      <p>Kaprekar sayıları , 1949 yılında Hint matematikçi Kaprekar tarafından tariflenen sayılardır. n basamaklı bir t
        Kaprekar sayısının karesi alınıp sağdaki n basamağı solda kalan n-1 basamağa eklendiğinde sonuç yine t sayısını
        verir.</p>
    </header>
    <div class="inputs">
      <input type="number" min="0" spellcheck="false" placeholder="Lütfen sayıyı giriniz"
        onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
      <button>Kontrol Et</button>
    </div>
    <p class="info-txt"></p>
  </div>
  <script>
    const txtInput = document.querySelector(".inputs input"),
      checkBtn = document.querySelector(".inputs button"),
      infoTxt = document.querySelector(".info-txt");



    var filterInput;
    var intFilterInput;

    checkBtn.addEventListener("click", () => {
     
      infoTxt.style.display = "block";

      // console.log(filterInput);
      // if (filterInput != reverseInput)
      // if (isKaprekar(filterInput))
      // if (firstPartInt + secondPartInt == filterInput) {
        if(iskaprekar(intFilterInput)){
        return infoTxt.innerHTML = `Evet, <span> ${txtInput.value} </span> sayısı kaprekar bir sayıdır.`;
      } else {
        infoTxt.innerHTML = `Hayır, <span> ${txtInput.value} </span> sayısı kaprekar sayı değildir.`
      }
      //  infoTxt.innerHTML = `Hayır, <span>'${txtInput.value}'</span> sayısı kaprekar sayı değildir.`
    });
    txtInput.addEventListener("keypress", function (event) {
      // If the user presses the "Enter" key on the keyboard
      if (event.key === "Enter") {
        // Cancel the default action, if needed
        infoTxt.style.display = "block";


        // if (firstPartInt + secondPartInt == filterInput) {
        if(filterInput){
          if(iskaprekar(intFilterInput)){
          return infoTxt.innerHTML = `Evet, <span>'${txtInput.value}'</span> sayısı kaprekar bir sayıdır.`;
        } else {
          infoTxt.innerHTML = `Hayır, <span>'${txtInput.value}'</span> sayısı kaprekar sayı değildir.`
        }
      }
      else if(filterInput == ""){
        infoTxt.innerHTML = "";
      }
      }
    });
    txtInput.addEventListener("keyup", () => {
      filterInput = txtInput.value.toLowerCase().replace(/[^A-Z0-9]/ig, "");
      intFilterInput = Number(filterInput)

      if (filterInput) {
        return checkBtn.classList.add("active");
      }
      infoTxt.style.display = "none";
      checkBtn.classList.remove("active");
    });

    function iskaprekar(n)
{
    if (n == 1)
    return true;
 
    // Count number of digits
    // in square
    let sq_n = n * n;
    let count_digits = 0;
    while (sq_n)
    {
        count_digits++;
        sq_n = parseInt(sq_n / 10);
    }
 
    let sq_n1 = n * n; // Recompute square
                    // as it was changed
 
    // Split the square at different
    // points and see if sum of any
    // pair of splitted numbers is equal to n.
    for (let r_digits = 1;
        r_digits < count_digits;
        r_digits++)
    {
        let eq_parts = Math.pow(10, r_digits);
 
        // To avoid numbers like
        // 10, 100, 1000 (These are not
        // Kaprekar numbers
        if (eq_parts == n)
            continue;
 
        // Find sum of current parts
        // and compare with n
        let sum = parseInt((sq_n1 / eq_parts) +
                    sq_n1 % eq_parts);
        if (sum == n)
        return true;
    }
 
    // compare with original number
    return false;
}
  </script>
  
</body>

</html>