<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Tau Sayısı Kontrolü | Özel Sayılar Dünyası</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <a href="/">
        <div class="back-main-page">
          <p>Ana Sayfaya Dön</p>
        </div>
        </a>
    <div class="wrapper">
        <header>
            <h1>Tau Sayısı Kontrolü</h1>
            <p>Eğer bir sayı rakamları pozitif tam bölenlerinin sayısına tam bölünüyorsa bu sayıya Tau sayısı
                denmektedir. </p>
                <p style="font-size: 14.5px; font-weight:400">(Yüksek basamaklı sayılarda biraz bekleyiniz.)</p>
        </header>
        <div class="inputs">
            <input type="text" min="0" maxlength="9 "spellcheck="false" placeholder="Lütfen sayıyı giriniz"
                onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
            <button>Kontrol Et</button>
        </div>
        <p class="info-txt"></p>
    </div>
    <script>
        const txtInput = document.querySelector(".inputs input"),
            checkBtn = document.querySelector(".inputs button"),
            infoTxt = document.querySelector(".info-txt");



        var filterInput;
        var intFilterInput;
        var sum;





        checkBtn.addEventListener("click", () => {

            //   vr secondPart = String(filterInput*filterInput).slice(-filterInput.length);
            //   var secondPartInt = Number(secondPart);
            //   var firstPart = String(filterInput*filterInput).slice(0,-filterInput.length);
            //   var firstPartInt = Number(firstPart);  a
            // for (let i = 0; i < filterInput.length; i++){
            //     sum+= Number(filterInput[i])**filterInput.length;







            // Number(filterInput[i])**filterInput.length
            infoTxt.style.display = "block";


            // if (isTau(intFilterInput)) 
            if (intFilterInput % findNumOfDividers(intFilterInput) == 0) {


                return infoTxt.innerHTML =
                    `Evet, <span>'${txtInput.value}'</span> sayısı Tau sayısıdır.`;



            } else {
                infoTxt.innerHTML = `Hayır, <span>'${txtInput.value}'</span> sayısı Tau sayısı değildir.`


            }





        });
        txtInput.addEventListener("keypress", function (event) {
            // If the user presses the "Enter" key on the keyboard
            if (event.key === "Enter") {
                // Cancel the default action, if needed
                infoTxt.style.display = "block";


                if(filterInput){


                if (intFilterInput % findNumOfDividers(intFilterInput) == 0) {


                    return infoTxt.innerHTML =
                        `Evet, <span>'${txtInput.value}'</span> sayısı Tau sayısıdır.`;



                } else {
                    infoTxt.innerHTML = `Hayır, <span>'${txtInput.value}'</span> sayısı Tau sayısı değildir.`


                }
            }
            else if(filterInput == ""){
                infoTxt.innerHTML = "";
            }

            }
        });




        txtInput.addEventListener("keyup", () => {
            filterInput = txtInput.value.toLowerCase().replace(/[^A-Z0-9]/ig, "");

            intFilterInput = Number(filterInput);


            reverseInput = filterInput.split("").reverse().join("");


            if (filterInput) {
                return checkBtn.classList.add("active");
            }
            infoTxt.style.display = "none";
            checkBtn.classList.remove("active");
        });



        // function isTau(intFilterInput) {
        //     if(intFilterInput % findNumOfDividers(intFilterInput) == 0){
        //          return true;
        //         // console.log(true);

        //     }


        // }
        function findNumOfDividers(intFilterInput) {
            sum = 0;
            for (var i = 1; i <= intFilterInput; i++) {
                if (!(intFilterInput % i)) {
                    sum += 1;
                }
            }
            return sum;


        }

        //  console.log()
    </script>
</body>

</html>